## Creating Class

def is used for defining ,  
self is the paramenter

In [4]:
class Phone:
    
    def make_call(self):
        print("Making phone calls")
        
    def play_games(self):
        print("Playing Games")

## Instatiating the 'p1' object

In [3]:
p1=Phone()

### invoking method through objects

In [5]:
p1.make_call()

Making phone calls

In [6]:
p1.play_games()

Playing Games

### Setting and returning the attribute values

In [9]:
class Phone:
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("Making Phone call")
        
    def play_games(self):
        print("Playing Games")

In [10]:
p2= Phone()

In [11]:
p2.set_color("blue")

In [12]:
p2.set_cost(5000)

In [13]:
p2.show_color()

'blue'

In [14]:
p2.show_cost()

5000

In [15]:
p2.make_call()

Making Phone call

In [16]:
p2.play_games()

Playing Games

# init method acts as constructor

In [22]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
        
        
    def employee_details(self):
        print("Name of employee is " , self.name)
        print("Age of employee is ", self.age )
        print("Salary of employee is " , self.salary )
        print( "Gender of employee is " , self.gender )

In [23]:
e1=Employee('Sam', 32, 85000, 'Male')

In [25]:
e1.employee_details()

Name of employee is  Sam
Age of employee is  32
Salary of employee is  85000
Gender of employee is  Male

### Inheritance Example

# Super Class

In [72]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage    
        self.cost=cost
    
    
    def show_vehicle_details(self):
        
        print("I am a vehicle")
        print("Mileage of Vehicle is ", self.mileage)
        print("Cost of Vehicle $ " , self.cost)

## Instantiating the object for child class

In [91]:
v1=Vehicle(50,8000)

In [90]:
# Invoking function:

v1.show_vehicle_details()

I am a vehicle
Mileage of Vehicle is  50
Cost of Vehicle $  8000

# creating the child class

In [85]:
class Car(Vehicle):
    def show_car_details(self):    
        print (" I am a car ")

In [86]:
c1=Car(200,1200) # 2 paraments mileage and cost

In [87]:
c1.show_vehicle_details()

I am a vehicle
Mileage of Vehicle is  200
Cost of Vehicle $  1200

In [88]:
c1.show_car_details()

 I am a car

## Over-riding int method

In [96]:
class Car(Vehicle):
    
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp =hp
        
    def show_car_details(self):
        print("I am a car ")
        print(" Number of tyres are ", self.tyres)
        print("value of horse power is ", self.hp)

In [92]:
### Invoking show_details( ) method from parent class

In [97]:
c1=Car(20,12000,4,300)

In [99]:
c1.show_car_details()

I am a car
 Number of tyres are  4
value of horse power is  300

In [100]:
c1.show_vehicle_details()

I am a vehicle
Mileage of Vehicle is  20
Cost of Vehicle $  12000

# Mutiple Inheritance

In [140]:
class parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
        
    def show_string_one (self):
        return self.str1

In [116]:
class parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [131]:
class child(parent1,parent2):
    def assign_string_three(self,str3):
        self.str3=str3
        
    def show_string_three(self):
        return self.str3

# Instantiating object of child class

In [111]:
d1=child()  ## Create an instance of the child class

In [136]:
d1.assign_string_one("I am string of Parent 1") # # Assign a string using the parent1 method

In [145]:
d1.assign_string_two("I am string of parent 2")

In [127]:
d1.assign_string_three("I am string of child class")

## Invoking methods

In [142]:
d1.show_string_one()  # Access the string using the show_string_one method from parent1

'I am string of Parent 1'

In [146]:

d1.show_string_two()

'I am string of parent 2'

In [122]:
d1.show_string_three()

'I am string of child class'

# Multilevel Inheritance

In [173]:
class parent:
    def assign_name(self,name):
        self.name= name
        
    def show_name(self):
        return self.name

In [174]:
class child(parent):
    
    def assign_age(self,age):
        self.age=age
        
    def show_age(self):
        return self.age

In [175]:
class grandchild(child):
    
    def assign_gender(self,gender):
        self.gender=gender
        
    def show_gender(self):
        return self.gender

### Create an instance of the grandchild class

In [ ]:

c=grandchild()

### Call the methods to assign and retrieve values

In [178]:
c.assign_name("Manpreet Kaur")

In [179]:
c.assign_age(32)

In [180]:
c.assign_gender('Female')

### Retrieve and print the values

In [181]:
c.show_name()

'Manpreet Kaur'

In [182]:
c.show_age()

32

In [183]:
c.show_gender()

'Female'